html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex; /* Container flexible principal */
}

#sidebar {
  width: 300px;
  padding: 20px;
  background-color: #f3f3f3;
  border-right: 1px solid #ddd;
  display: flex; /* Sidebar en tant que conteneur flexible pour ses éléments */
  flex-direction: column; /* Organisation verticale des éléments de la sidebar */
}

#controls button {
  margin-bottom: 10px;
}

#groupSelectContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column; /* Label au-dessus du select */
}

#groupSelect {
  width: 250px; /* Largeur fixe souhaitée pour la liste déroulante */
  /* overflow: hidden; /* Optionnel: pour cacher le texte qui dépasse */
  /* text-overflow: ellipsis; /* Optionnel: pour afficher des points de suspension */
}

#membersListContainer {
  margin-top: 20px;
  flex: 1; /* Prend l'espace restant dans la sidebar */
  overflow-y: auto; /* Permet le défilement si la liste est longue */
}

#membersList div {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #e0e0e0;
  cursor: pointer;
  border-radius: 4px;
}

#membersList div:hover {
  background-color: #ccc;
}

#myDiagramDiv {
  flex: 1; /* Prend tout l'espace disponible à droite de la sidebar */
  background-color: #ffffff;
  min-height: 600px; /* Assure une hauteur minimale */
  border: 1px solid #000;
  position: relative; /* Important pour le positionnement des éléments GoJS */
}
